openapi: 3.0.0
info:
  title: GNews API
  description: An API for searching and retrieving news articles from over 60,000 sources.
  version: 4.0.0
servers:
  - url: https://gnews.io/api/v4
    description: Main (production) server
paths:
  /search:
    get:
      operationId: searchArticles
      summary: Search for news articles
      parameters:
        - name: apikey
          in: query
          description: API Key (is always {your_apikey})
          required: true
          schema:
            type: string
            default: {your_apikey}
        - name: q
          in: query
          description: Keywords to search for
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Language of the articles
          required: false
          schema:
            type: string
            enum: [ar, zh, nl, en, fr, de, el, he, hi, it, ja, ml, mr, no, pt, ro, ru, es, sv, ta, te, uk]
        - name: country
          in: query
          description: Country of the articles
          required: false
          schema:
            type: string
            enum: [au, br, ca, cn, eg, fr, de, gr, hk, in, ie, il, it, jp, nl, no, pk, pe, ph, pt, ro, ru, sg, es, se, ch, tw, ua, gb, us]
        - name: max
          in: query
          description: Maximum number of articles to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 10
        - name: in
          in: query
          description: Attributes to search in (title, description, content)
          required: false
          schema:
            type: string
        - name: nullable
          in: query
          description: Attributes that can return null values
          required: false
          schema:
            type: string
        - name: from
          in: query
          description: Filter articles published after this date (YYYY-MM-DDThh:mm:ssZ)
          required: false
          schema:
            type: string
          format: date-time
        - name: to
          in: query
          description: Filter articles published before this date (YYYY-MM-DDThh:mm:ssZ)
          required: false
          schema:
            type: string
          format: date-time
        - name: sortby
          in: query
          description: Sort articles by publication date or relevance
          required: false
          schema:
            type: string
            enum: [publishedAt, relevance]
          default: publishedAt
        - name: page
          in: query
          description: Pagination of results (requires a paid subscription)
          required: false
          schema:
            type: integer
        - name: expand
          in: query
          description: Expand to return full content of articles (requires a paid subscription)
          required: false
          schema:
            type: string
            enum: [content]
      responses:
        '200':
          description: A JSON array of news articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalArticles:
                    type: integer
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        content:
                          type: string
                        url:
                          type: string
                        image:
                          type: string
                        publishedAt:
                          type: string
                          format: date-time
                        source:
                          type: object
                          properties:
                            name:
                              type: string
                            url:
                              type: string
  /top-headlines:
    get:
      operationId: getTopHeadlines
      summary: Get top headlines
      parameters:
        - name: apikey
          in: query
          description: API Key (is always {your_apikey})
          required: true
          schema:
            type: string
            default: {your_apikey}
        - name: category
          in: query
          description: Category of the articles
          required: false
          schema:
            type: string
            enum: [general, world, nation, business, technology, entertainment, sports, science, health]
          default: general
        - name: lang
          in: query
          description: Language of the articles
          required: false
          schema:
            type: string
            enum: [ar, zh, nl, en, fr, de, el, he, hi, it, ja, ml, mr, no, pt, ro, ru, es, sv, ta, te, uk]
        - name: country
          in: query
          description: Country of the articles
          required: false
          schema:
            type: string
            enum: [au, br, ca, cn, eg, fr, de, gr, hk, in, ie, il, it, jp, nl, no, pk, pe, ph, pt, ro, ru, sg, es, se, ch, tw, ua, gb, us]
        - name: max
          in: query
          description: Maximum number of articles to return (1-100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 10
        - name: nullable
          in: query
          description: Attributes that can return null values
          required: false
          schema:
            type: string
        - name: from
          in: query
          description: Filter articles published after this date (YYYY-MM-DDThh:mm:ssZ)
          required: false
          schema:
            type: string
          format: date-time
        - name: to
          in: query
          description: Filter articles published before this date (YYYY-MM-DDThh:mm:ssZ)
          required: false
          schema:
            type: string
          format: date-time
        - name: q
          in: query
          description: Keywords to narrow down the results
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Pagination of results (requires a paid subscription)
          required: false
          schema:
            type: integer
        - name: expand
          in: query
          description: Expand to return full content of articles (requires a paid subscription)
          required: false
          schema:
            type: string
            enum: [content]
      responses:
        '200':
          description: A JSON array of top headlines
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalArticles:
                    type: integer
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        content:
                          type: string
                        url:
                          type: string
                        image:
                          type: string
                        publishedAt:
                          type: string
                          format: date-time
                        source:
                          type: object
                          properties:
                            name:
                              type: string
                            url:
                              type: string
