openapi: 3.0.0
info:
  title: GNews API
  description: REST API to search for current and historic news articles published by over 60,000 sources.
  version: 4.0.0
servers:
  - url: https://gnews.io/api/v4
    description: GNews API Server
paths:
  /search:
    get:
      operationId: searchNews
      summary: Search for news articles
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search keywords
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, zh, nl, en, fr, de, el, he, hi, it, ja, ml, mr, no, pt, ro, ru, es, sv, ta, te, uk]
          description: Language code of the articles
        - name: country
          in: query
          schema:
            type: string
            enum: [au, br, ca, cn, eg, fr, de, gr, hk, in, ie, il, it, jp, nl, no, pk, pe, ph, pt, ro, ru, sg, es, se, ch, tw, ua, gb, us]
          description: Country code where the articles were published
        - name: max
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: Maximum number of articles to return
        - name: in
          in: query
          schema:
            type: string
            default: title,description
          description: Attributes to search in (title, description, content)
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for the search
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End date for the search
        - name: sortby
          in: query
          schema:
            type: string
            enum: [publishedAt, relevance]
            default: publishedAt
          description: Sort by publication date or relevance
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: expand
          in: query
          schema:
            type: string
            default: content
          description: Expand to full content
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Your API key
      responses:
        '200':
          description: A JSON array of news articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalArticles:
                    type: integer
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        content:
                          type: string
                        url:
                          type: string
                        image:
                          type: string
                        publishedAt:
                          type: string
                          format: date-time
                        source:
                          type: object
                          properties:
                            name:
                              type: string
                            url:
                              type: string
  /top-headlines:
    get:
      operationId: getTopHeadlines
      summary: Get top headline news articles
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [general, world, nation, business, technology, entertainment, sports, science, health]
            default: general
          description: News category
        - name: lang
          in: query
          schema:
            type: string
            enum: [ar, zh, nl, en, fr, de, el, he, hi, it, ja, ml, mr, no, pt, ro, ru, es, sv, ta, te, uk]
          description: Language code of the articles
        - name: country
          in: query
          schema:
            type: string
            enum: [au, br, ca, cn, eg, fr, de, gr, hk, in, ie, il, it, jp, nl, no, pk, pe, ph, pt, ro, ru, sg, es, se, ch, tw, ua, gb, us]
          description: Country code where the articles were published
        - name: max
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: Maximum number of articles to return
        - name: nullable
          in: query
          schema:
            type: string
          description: Attributes allowed to return null values
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for the search
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End date for the search
        - name: q
          in: query
          schema:
            type: string
          description: Search keywords
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - name: expand
          in: query
          schema:
            type: string
          description: Expand to full content
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Your API key
      responses:
        '200':
          description: A JSON array of top headline news articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalArticles:
                    type: integer
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        content:
                          type: string
                        url:
                          type: string
                        image:
                          type: string
                        publishedAt:
                          type: string
                          format: date-time
                        source:
                          type: object
                          properties:
                            name:
                              type: string
                            url:
                              type: string
components:
  schemas:
    Article:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        content:
          type: string
        url:
          type: string
        image:
          type: string
        publishedAt:
          type: string
          format: date-time
        source:
          type: object
          properties:
            name:
              type: string
            url:
              type: string
